.global-tips(ng-class="slideClass")
    .toggle-tips(ng-click="startSlide()")
    .tips-body
        .tips-title {{tipsTitle}}
        .tips-content {{tipsContent}}
        a(ng-href="{{tipsHref}}") {{tipsFooter}}