.contaienr
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
        ul.navbar-nav
            li.nav-item
                a.nav-link(ui-sref="login") 登录
            li.nav-item
                a.nav-link(ui-sref="app") 主页